*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

table td {
    border: solid black;
}
.rotate {
    writing-mode: vertical-lr;
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
}