*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: rgb(91, 143, 255);
}

nav a{
    text-decoration: none;
    color: #ffff;
    font-size: 17px;
}
table td {
    border: solid black;
}